.text-center {
    text-align: center;
}

.healthbar {
    width: 80%;
    height: 40px;
    background: #eee;
    margin: auto;
    transition: width 500ms;
}

.controls, .log {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 3px 6px #ccc;
}

.power-wrap {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.power-wrap p {
    margin-right: 10px;
}

.power {
    width: 70%;
    height: 10px;
    background: #eee;
    transition: width 500ms;
}

.turn {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
}

.log ul {
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
}

.player-log {
    color: blue;
    background: #e4e8ff;
}

.monster-log {
    color: red;
    background: #ffc0c1;
}

button {
    font-size: 20px;
    background: #eee;
    padding: 12px;
    box-shadow: 0 1px 1px black;
    margin: 10px;
}

#start-game {
    background: #197BBD;
    color: white;
}

#start-game:hover {
    background: #4293C9;
}

#attack {
    background: #ff7367;
}

#attack:hover {
    background: #ff3f43;
}

#special-attack {
    background: #ffaf4f;
}

#special-attack:hover {
    background: #ff9a2b;
}
#block {
    background: #6CABD5;
}

#block:hover {
    background: #4293C9;
}

#heal {
    background: #aaffb0;
}

#heal:hover {
    background: #76ff7e;
}
#obliterate {
    background: #0D0D0D;
    color: white;
}
#obliterate:hover {
    color: red;
}
#obliterate:disabled {
    background: #eee;
    color: #c7c7c7;
}

#give-up {
    background: #ffffff;
}

#give-up:hover {
    background: #c7c7c7;
}

#new-game {
    background: #197BBD;
    color: white;
}

#new-game:hover {
    background: #4293C9;
}

.modal-wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #00000070;
}
.modal {
    background: white;
    width: 300px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.loading-game {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
}
.loading-game span {
    margin-left: 10px;
}